body{
  margin: 10px 30px;
  max-width:100%;
  line-height: 1em;
  font-family: sans-serif,Arial;
  font-size: 14px;
  text-align: center;
}

#content >*{
  background-color: #e74c3c;
  padding:30px;
}

#content{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 5px;
  grid-template-areas:
  "header header header header"
  "aside aside section section"
  "nav nav section section"
  "main main main main"
  "main main main main"
  "footer footer footer footer";

}
header{
  grid-area:header;
}
aside{
  grid-area:aside;
}
main{
  grid-area:main;
}
nav{
  grid-area:nav;
}
section{
  grid-area:section;
}
footer{
  grid-area:footer;
}
